@import "tailwindcss";


@theme {
  /* Custom Fonts */
  --font-family-myFont: 'Inter', sans-serif;
  --font-family-myFont2: 'Switzer', sans-serif;
  
  /* Custom Colors */
  --color-headercolor: #111111;
  --color-textcolor: #484646;
  --color-subheadcolor: #111112;
  --color-progressbarcolor: #65558F;
  --color-barbackgroundcolor: #4F378B;
  --color-borderbarcolor: #79747E;
  --color-antextcolor: #130E20;
  --color-antextcolor2: #4A4459;
  --color-bulbcolor: #130E20;
  --color-dashboardheadcolor: #1C1B1C;
  --color-dashboardtextcolor: #484646;
  --color-weatherprecolor: #FDF7FF;
  --color-weatherpretextcolor: #160041;
  --color-weatherpretextcolor2: #432B7E;
  --color-actioncolor1: #FAF8F5;
  --color-actioncolor2: #F9FAF5;
  --color-actioncolor3: #FAF8F5;
  --color-actioncolor4: #FAF8F5;
  --color-callcardcolor: #410004;
  --color-callcardbgcolor: #F9DEDC;
  --color-callcardbdcolor: #B3261E;
  --color-linkcolor: #4F378B;
  --color-taskbgcolor: #F6EEFF;
  --color-calbgcolor: #FDF7FF;
}

/* Background image utility */
.bg-dashboard {
  background-image: url('/images/misc/cloud.jpg');
}